<% include index %> 
	<center>
	<br>
	<br>
	<br>

	<h1> Complete form: </h1>

	<form method="post" action="/addInfo" enctype = "multipart/form-data">
		<label>Enter Your Game Title</label><br>
		<input type="text" name="gameTitle" placeholder="i.e. Starcraft" required>
		<br><br>
		<label>Select Publisher</label><br>
		<select name="gamePublisher">
			<option value="">Select</option>
			<% publishers.forEach(function(publisher) { %>
			<option value="<%= publisher._id %>" ><%= publisher.publisher %></option>
			<% }); %>
		</select>
		<br><br>

		<label>Select Image</label><br>
		<input type="file" name="gameImage" multiple>
		
		<br><br>

		<input type="submit" value="Submit">
	</form>

	</center>