<% include index %> 
	<center>
	<br>
	<br>
	<br>


	<h1>Add Publisher</h1>
	<form method="post" action="/addPublisher">
		<label>Enter Your Game Publisher</label><br>
		<input type="text" name="publisher" placeholder="i.e. Blizzard" required>
		<input type="submit" value="Add Publisher">
	</form>
	<br>

	</center>